<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <UI>
      <Dialog Id="PortDlg" Width="370" Height="270" Title="!(loc.InstallDirDlg_Title)">
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Port Configuration" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Choose the port for the Event Alert Service web interface." />

        <Control Id="PortLabel" Type="Text" X="20" Y="60" Width="290" Height="20" NoPrefix="yes" Text="Enter the port number for the web UI (1-65535):" />
        <Control Id="PortEdit" Type="Edit" X="20" Y="82" Width="80" Height="18" Property="PORTNUMBER" Text="{5}" />
        <Control Id="PortNote" Type="Text" X="110" Y="84" Width="240" Height="15" NoPrefix="yes" Text="Default: 5100" />

        <Control Id="PortInfo" Type="Text" X="20" Y="110" Width="330" Height="30" NoPrefix="yes" Text="The web interface allows you to configure filter rules, recipients, and notification settings. Access it at http://localhost:[port] after installation." />

        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg" />
        </Control>
      </Dialog>
    </UI>
  </Fragment>
</Wix>
